.container
    .menubar
        a(href='#', style='text-decoration: none')= "ashleyp: "+title
        .items
            a(href='#')= "categories"
            a(href='#')= "about"
            a(href='#')= "github"
            a(href='#')= "twitter"
            a(href='#')= "contact"
        .login
            - if (session.username)
              p logged in as #{session.username} 
            - else
              form(action='/login', method='post')
                  input(type='text', name='username', placeholder='username')
                  input(type='password', name='password', placeholder='password')
                  input(type='submit', value='login')
    .right-menubar
        - if (session.username && session.user_level < 4)
          h2 account
          a(href='#')="update details"
          a(href='#')="change password"
          a(href='/logout')="logout"
        - else
          h2 admin 
          a(href='#')="create new post"
          a(href='#')="ban user"
          a(href='#')="update details"
          a(href='#')="change password"
          a(href='/logout')="logout"
        h2 tags
        a(href='#')="cheese"
        a(href='#')="javascript"
        h2 archive
        a(href='#')="January 2012"
        a(href='#')="December 2011"
    .all-blogs
        .blog
           h2 Add new blog post
           input(type='text', placeholder='heading')
           textarea(placeholder='content')
           p Category
           select
               option JavaScript
               option Cheese
           .footer
              p to be posted by: <a href='#'>ashleyp</a>
           input(type='submit', value='add post')
           input(type='submit', value='preview')
        - each obj, category in blogs
            each blog in obj
               .blog
                   h1=blog.heading
                   p=blog.content
                   .footer
                      p posted by: <a href='#'>#{blog.posted_by}</a> @ 12/15/1950 9pm (Category: <a href='#'>#{category}</a>)

