.container
    .menubar
        a(href='#')= "The menubar"
        a(href='#')= "another page"
        a(href='#')= "final page"
    - each obj in blogs
      h3=obj.heading
      p=obj.content
      .footer
        p posted by: #{obj.posted_by} @ 12/15/1950 9pm

